@model IEnumerable<UploadExcelFile.Models.ContactVM>

@{
    ViewBag.Title = "Edit File";
}

<h2><strong>Batch Details</strong></h2>
<br />

@{ 
    int label = 0;
}

@foreach(var item in Model)
{
    label = item.BatchId;
}
<br />
<Label class="text-capitalize"><strong>Batch</strong></Label> <Label class="text-capitalize"><strong>Upolad - @label</strong></Label>


<table class="table table-bordered">
    <tr>
        <th>
            <strong>First Name</strong>
        </th>
        <th>
            <strong>Last Name</strong>
        </th>
        <th>
            <strong>Email</strong>
        </th>
        <th>
            <strong>Telephone</strong>
        </th>
        <th>
            <strong>Mobile</strong>
        </th>
        <th>
            <strong>Company ID</strong>
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telephone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mobile)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyID)
            </td>
        </tr>
    }
</table>
<br />
<button class="btn btn-default">
    <span style="color:white">@Html.ActionLink("Re-Upload", "ReUploadBatch", "ContactBatch")</span>
</button>
<br />
<br />
<button class="btn btn-default">
    <span style="color:white">@Html.ActionLink("Back To Batches", "Index", "ContactBatch")</span>
</button>
