@using UploadExcelFile.Models
@model List<ContactBatch>


@{ ViewBag.Title = "File Batch";

       Layout = "~/Views/Shared/_Layout.cshtml"; 
 }

<h2>File Batch</h2>
@if (Model.Count() > 0)
{
<hr />
<table class="table table-bordered">
    <tr>
        <td>Batch Name</td>
        <td>Created By</td>
        <td>Date Created</td>
        <td>Action</td>

    </tr>

    @foreach (ContactBatch contact in Model)
    {
<tr>
    <td>@contact.BatchName</td>
    <td>@contact.CreatedBy</td>
    <td>@contact.DateCreated</td>
    <td><button class="btn btn-default">
    @Html.ActionLink("View", "GetFileById", "ContactBatch")
</button> | <button class="btn btn-default">
    @Html.ActionLink("Edit", "EditById", "ContactBatch")
</button> | <button class="btn btn-default">
    @Html.ActionLink("Delete", "DeleteById", "ContactBatch")
</button></td>
</tr>
}
</table>}

